RentItClient/RentItClient/Service References/RentItService/RentItService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentItServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentItServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="genres" nillable="true" type="tns:ArrayOfGenre" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="plays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="rating" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="subscriptions" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="tracks" nillable="true" type="tns:ArrayOfTrack" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="users" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="channelId" type="xs:int" />
      <xs:element minOccurs="0" name="channels" nillable="true" type="tns:Channel" />
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="users" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="channels" nillable="true" type="tns:ArrayOfChannel" />
      <xs:element minOccurs="0" name="channelsSubscriped" nillable="true" type="tns:Channel" />
      <xs:element minOccurs="0" name="comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="votes" nillable="true" type="tns:ArrayOfVote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" nillable="true" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannel" nillable="true" type="tns:ArrayOfChannel" />
  <xs:complexType name="ArrayOfVote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vote" nillable="true" type="tns:Vote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVote" nillable="true" type="tns:ArrayOfVote" />
  <xs:complexType name="Vote">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="trackId" type="xs:int" />
      <xs:element minOccurs="0" name="tracks" nillable="true" type="tns:Track" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="users" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vote" nillable="true" type="tns:Vote" />
  <xs:complexType name="Track">
    <xs:sequence>
      <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="channelId" type="xs:int" />
      <xs:element minOccurs="0" name="channels" nillable="true" type="tns:Channel" />
      <xs:element minOccurs="0" name="downvotes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="length" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trackpath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="trackplays" nillable="true" type="tns:ArrayOfTrackPlay" />
      <xs:element minOccurs="0" name="upvotes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="votes" nillable="true" type="tns:ArrayOfVote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Track" nillable="true" type="tns:Track" />
  <xs:complexType name="ArrayOfTrackPlay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackPlay" nillable="true" type="tns:TrackPlay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackPlay" nillable="true" type="tns:ArrayOfTrackPlay" />
  <xs:complexType name="TrackPlay">
    <xs:sequence>
      <xs:element name="_x003C_playtime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_trackId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_tracks_x003E_k__BackingField" nillable="true" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackPlay" nillable="true" type="tns:TrackPlay" />
  <xs:complexType name="ArrayOfGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Genre" nillable="true" type="tns:Genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenre" nillable="true" type="tns:ArrayOfGenre" />
  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="channels" nillable="true" type="tns:ArrayOfChannel" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfTrack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Track" nillable="true" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrack" nillable="true" type="tns:ArrayOfTrack" />
</xs:schema>