RentItClient/RentItClient/Service References/RentItService/RentItService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RentItService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt21/RentItService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt21/RentItService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt21/RentItService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt21/RentItService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/RentItServer.ITU" />
      <xsd:import schemaLocation="http://rentit.itu.dk/RentIt21/RentItService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RentItServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRentItService_CreateChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CreateChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannelIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelIds" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannelIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_ModifyChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_ModifyChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_UploadTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadTrack" />
  </wsdl:message>
  <wsdl:message name="IRentItService_UploadTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadTrackResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_RemoveTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTrack" />
  </wsdl:message>
  <wsdl:message name="IRentItService_RemoveTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTrackResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_VoteTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:VoteTrack" />
  </wsdl:message>
  <wsdl:message name="IRentItService_VoteTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoteTrackResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackIds" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackInfo" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Comment_InputMessage">
    <wsdl:part name="parameters" element="tns:Comment" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Comment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CommentResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetCommentIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentIds" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetCommentIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetComment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComment" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_UnSubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="IRentItService_UnSubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannelPort_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelPort" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannelPort_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelPortResponse" />
  </wsdl:message>
  <wsdl:portType name="IRentItService">
    <wsdl:operation name="CreateChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/CreateChannel" message="tns:IRentItService_CreateChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/CreateChannelResponse" message="tns:IRentItService_CreateChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetChannelIds" message="tns:IRentItService_GetChannelIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetChannelIdsResponse" message="tns:IRentItService_GetChannelIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetChannel" message="tns:IRentItService_GetChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetChannelResponse" message="tns:IRentItService_GetChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/ModifyChannel" message="tns:IRentItService_ModifyChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/ModifyChannelResponse" message="tns:IRentItService_ModifyChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/DeleteChannel" message="tns:IRentItService_DeleteChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/DeleteChannelResponse" message="tns:IRentItService_DeleteChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/Login" message="tns:IRentItService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/LoginResponse" message="tns:IRentItService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/CreateUser" message="tns:IRentItService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/CreateUserResponse" message="tns:IRentItService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/UploadTrack" message="tns:IRentItService_UploadTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/UploadTrackResponse" message="tns:IRentItService_UploadTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/RemoveTrack" message="tns:IRentItService_RemoveTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/RemoveTrackResponse" message="tns:IRentItService_RemoveTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoteTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/VoteTrack" message="tns:IRentItService_VoteTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/VoteTrackResponse" message="tns:IRentItService_VoteTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetTrackIds" message="tns:IRentItService_GetTrackIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetTrackIdsResponse" message="tns:IRentItService_GetTrackIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetTrackInfo" message="tns:IRentItService_GetTrackInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetTrackInfoResponse" message="tns:IRentItService_GetTrackInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Comment">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/Comment" message="tns:IRentItService_Comment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/CommentResponse" message="tns:IRentItService_Comment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCommentIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetCommentIds" message="tns:IRentItService_GetCommentIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetCommentIdsResponse" message="tns:IRentItService_GetCommentIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetComment" message="tns:IRentItService_GetComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetCommentResponse" message="tns:IRentItService_GetComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/Subscribe" message="tns:IRentItService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/SubscribeResponse" message="tns:IRentItService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/UnSubscribe" message="tns:IRentItService_UnSubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/UnSubscribeResponse" message="tns:IRentItService_UnSubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelPort">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetChannelPort" message="tns:IRentItService_GetChannelPort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetChannelPortResponse" message="tns:IRentItService_GetChannelPort_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRentItService" type="tns:IRentItService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/CreateChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelIds">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetChannelIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/ModifyChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/DeleteChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IRentItService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IRentItService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadTrack">
      <soap:operation soapAction="http://tempuri.org/IRentItService/UploadTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTrack">
      <soap:operation soapAction="http://tempuri.org/IRentItService/RemoveTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoteTrack">
      <soap:operation soapAction="http://tempuri.org/IRentItService/VoteTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackIds">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetTrackIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackInfo">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetTrackInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Comment">
      <soap:operation soapAction="http://tempuri.org/IRentItService/Comment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCommentIds">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetCommentIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComment">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/IRentItService/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap:operation soapAction="http://tempuri.org/IRentItService/UnSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelPort">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetChannelPort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentItService">
    <wsdl:port name="BasicHttpBinding_IRentItService" binding="tns:BasicHttpBinding_IRentItService">
      <soap:address location="http://rentit.itu.dk/RentIt21/RentItService.svc/RentItServer.RentItService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>