RentItClient/RentItMvc/Service References/RentItService/RentItService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentItServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentItServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Channel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelOwner" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="tns:ArrayOfGenre" />
      <xs:element minOccurs="0" name="Hits" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Subscribers" nillable="true" type="tns:ArrayOfUser" />
      <xs:element minOccurs="0" name="Tracks" nillable="true" type="tns:ArrayOfTrack" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channels" nillable="true" type="tns:ArrayOfChannel" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubscribedChannels" nillable="true" type="tns:ArrayOfChannel" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Votes" nillable="true" type="tns:ArrayOfVote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfChannel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Channel" nillable="true" type="tns:Channel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChannel" nillable="true" type="tns:ArrayOfChannel" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" nillable="true" type="tns:Channel" />
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
  <xs:complexType name="ArrayOfVote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vote" nillable="true" type="tns:Vote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVote" nillable="true" type="tns:ArrayOfVote" />
  <xs:complexType name="Vote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Track" nillable="true" type="tns:Track" />
      <xs:element minOccurs="0" name="TrackId" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vote" nillable="true" type="tns:Vote" />
  <xs:complexType name="Track">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="tns:Channel" />
      <xs:element minOccurs="0" name="ChannelId" type="xs:int" />
      <xs:element minOccurs="0" name="DownVotes" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackPlays" nillable="true" type="tns:ArrayOfTrackPlay" />
      <xs:element minOccurs="0" name="UpVotes" type="xs:int" />
      <xs:element minOccurs="0" name="Votes" nillable="true" type="tns:ArrayOfVote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Track" nillable="true" type="tns:Track" />
  <xs:complexType name="ArrayOfTrackPlay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrackPlay" nillable="true" type="tns:TrackPlay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrackPlay" nillable="true" type="tns:ArrayOfTrackPlay" />
  <xs:complexType name="TrackPlay">
    <xs:sequence>
      <xs:element name="_x003C_TimePlayed_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_TrackId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Track_x003E_k__BackingField" nillable="true" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackPlay" nillable="true" type="tns:TrackPlay" />
  <xs:complexType name="ArrayOfGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Genre" nillable="true" type="tns:Genre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGenre" nillable="true" type="tns:ArrayOfGenre" />
  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channels" nillable="true" type="tns:ArrayOfChannel" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="ArrayOfTrack">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Track" nillable="true" type="tns:Track" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrack" nillable="true" type="tns:ArrayOfTrack" />
</xs:schema>