RentItClient/RentItMvc/Service References/RentItService/RentItService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentItServer.ITU" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentItServer.ITU" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rentit.itu.dk/RentIt21/RentItService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SearchArgs">
    <xs:sequence>
      <xs:element name="_x003C_AmountPlayed_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_EndIndex_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Genres_x003E_k__BackingField" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="_x003C_NumberOfComments_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_NumberOfSubscriptions_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_SearchString_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SortOption_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_StartIndex_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchArgs" nillable="true" type="tns:SearchArgs" />
</xs:schema>