RentItClient/RentItMvc/Service References/RentItService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RentItService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RentItServer.ITU.DatabaseWrapperObjects" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RentItServer.ITU" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRentItService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_SignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="IRentItService_SignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsCorrectPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCorrectPassword" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsCorrectPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCorrectPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetAllUserIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserIds" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetAllUserIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IRentItService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CreateChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CreateChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_UpdateChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_UpdateChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IncrementHitsForChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:IncrementHitsForChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IncrementHitsForChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncrementHitsForChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetAllChannelIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChannelIds" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetAllChannelIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllChannelIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannels" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CreateVote_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateVote" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CreateVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_AddTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTrack" />
  </wsdl:message>
  <wsdl:message name="IRentItService_AddTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTrackResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackInfoByTrackname_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackInfoByTrackname" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackInfoByTrackname_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackInfoByTracknameResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_RemoveTrack_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTrack" />
  </wsdl:message>
  <wsdl:message name="IRentItService_RemoveTrack_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTrackResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackIds" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTracks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTracks" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTracks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTracksResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CreateComment_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateComment" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CreateComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteComment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComment" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannelComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelComments" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetChannelComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChannelCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetUserComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserComments" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetUserComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsEmailAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailAvailable" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsEmailAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsEmailAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsUsernameAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUsernameAvailable" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsUsernameAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUsernameAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IRentItService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_StartChannelStream_InputMessage">
    <wsdl:part name="parameters" element="tns:StartChannelStream" />
  </wsdl:message>
  <wsdl:message name="IRentItService_StartChannelStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartChannelStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetDefaultChannelSearchArgs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultChannelSearchArgs" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetDefaultChannelSearchArgs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultChannelSearchArgsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetDefaultTrackSearchArgs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultTrackSearchArgs" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetDefaultTrackSearchArgs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultTrackSearchArgsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetCreatedChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCreatedChannels" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetCreatedChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreatedChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetSubscribedChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscribedChannels" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetSubscribedChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscribedChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackByChannelId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackByChannelId" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetTrackByChannelId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackByChannelIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetRecentlyPlayedTracks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentlyPlayedTracks" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetRecentlyPlayedTracks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecentlyPlayedTracksResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsChannelNameAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:IsChannelNameAvailable" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsChannelNameAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsChannelNameAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetSubscriberCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriberCount" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetSubscriberCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriberCountResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IncrementChannelPlays_InputMessage">
    <wsdl:part name="parameters" element="tns:IncrementChannelPlays" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IncrementChannelPlays_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncrementChannelPlaysResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsChannelPlaying_InputMessage">
    <wsdl:part name="parameters" element="tns:IsChannelPlaying" />
  </wsdl:message>
  <wsdl:message name="IRentItService_IsChannelPlaying_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsChannelPlayingResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_StopChannelStream_InputMessage">
    <wsdl:part name="parameters" element="tns:StopChannelStream" />
  </wsdl:message>
  <wsdl:message name="IRentItService_StopChannelStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopChannelStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetVote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVote" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteVote_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVote" />
  </wsdl:message>
  <wsdl:message name="IRentItService_DeleteVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteVoteResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CountAllChannelsWithFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:CountAllChannelsWithFilter" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CountAllChannelsWithFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountAllChannelsWithFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CountAllUpvotes_InputMessage">
    <wsdl:part name="parameters" element="tns:CountAllUpvotes" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CountAllUpvotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountAllUpvotesResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CountAllDownvotes_InputMessage">
    <wsdl:part name="parameters" element="tns:CountAllDownvotes" />
  </wsdl:message>
  <wsdl:message name="IRentItService_CountAllDownvotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountAllDownvotesResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetAllGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenres" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetAllGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenresResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetGenresForChannel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenresForChannel" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetGenresForChannel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenresForChannelResponse" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetCountChannelComments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountChannelComments" />
  </wsdl:message>
  <wsdl:message name="IRentItService_GetCountChannelComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountChannelCommentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRentItService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/Login" message="tns:IRentItService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/LoginResponse" message="tns:IRentItService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/SignUp" message="tns:IRentItService_SignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/SignUpResponse" message="tns:IRentItService_SignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/DeleteUser" message="tns:IRentItService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/DeleteUserResponse" message="tns:IRentItService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetUser" message="tns:IRentItService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetUserResponse" message="tns:IRentItService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCorrectPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/IsCorrectPassword" message="tns:IRentItService_IsCorrectPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/IsCorrectPasswordResponse" message="tns:IRentItService_IsCorrectPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetAllUserIds" message="tns:IRentItService_GetAllUserIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetAllUserIdsResponse" message="tns:IRentItService_GetAllUserIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/UpdateUser" message="tns:IRentItService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/UpdateUserResponse" message="tns:IRentItService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/CreateChannel" message="tns:IRentItService_CreateChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/CreateChannelResponse" message="tns:IRentItService_CreateChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/DeleteChannel" message="tns:IRentItService_DeleteChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/DeleteChannelResponse" message="tns:IRentItService_DeleteChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/UpdateChannel" message="tns:IRentItService_UpdateChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/UpdateChannelResponse" message="tns:IRentItService_UpdateChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncrementHitsForChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/IncrementHitsForChannel" message="tns:IRentItService_IncrementHitsForChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/IncrementHitsForChannelResponse" message="tns:IRentItService_IncrementHitsForChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetChannel" message="tns:IRentItService_GetChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetChannelResponse" message="tns:IRentItService_GetChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllChannelIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetAllChannelIds" message="tns:IRentItService_GetAllChannelIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetAllChannelIdsResponse" message="tns:IRentItService_GetAllChannelIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannels">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetChannels" message="tns:IRentItService_GetChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetChannelsResponse" message="tns:IRentItService_GetChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/CreateVote" message="tns:IRentItService_CreateVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/CreateVoteResponse" message="tns:IRentItService_CreateVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/AddTrack" message="tns:IRentItService_AddTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/AddTrackResponse" message="tns:IRentItService_AddTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackInfoByTrackname">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetTrackInfoByTrackname" message="tns:IRentItService_GetTrackInfoByTrackname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetTrackInfoByTracknameResponse" message="tns:IRentItService_GetTrackInfoByTrackname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTrack">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/RemoveTrack" message="tns:IRentItService_RemoveTrack_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/RemoveTrackResponse" message="tns:IRentItService_RemoveTrack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetTrackIds" message="tns:IRentItService_GetTrackIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetTrackIdsResponse" message="tns:IRentItService_GetTrackIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTracks">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetTracks" message="tns:IRentItService_GetTracks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetTracksResponse" message="tns:IRentItService_GetTracks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/CreateComment" message="tns:IRentItService_CreateComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/CreateCommentResponse" message="tns:IRentItService_CreateComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/DeleteComment" message="tns:IRentItService_DeleteComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/DeleteCommentResponse" message="tns:IRentItService_DeleteComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChannelComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetChannelComments" message="tns:IRentItService_GetChannelComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetChannelCommentsResponse" message="tns:IRentItService_GetChannelComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetUserComments" message="tns:IRentItService_GetUserComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetUserCommentsResponse" message="tns:IRentItService_GetUserComments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsEmailAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/IsEmailAvailable" message="tns:IRentItService_IsEmailAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/IsEmailAvailableResponse" message="tns:IRentItService_IsEmailAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUsernameAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/IsUsernameAvailable" message="tns:IRentItService_IsUsernameAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/IsUsernameAvailableResponse" message="tns:IRentItService_IsUsernameAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/Subscribe" message="tns:IRentItService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/SubscribeResponse" message="tns:IRentItService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/Unsubscribe" message="tns:IRentItService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/UnsubscribeResponse" message="tns:IRentItService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartChannelStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/StartChannelStream" message="tns:IRentItService_StartChannelStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/StartChannelStreamResponse" message="tns:IRentItService_StartChannelStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultChannelSearchArgs">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetDefaultChannelSearchArgs" message="tns:IRentItService_GetDefaultChannelSearchArgs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetDefaultChannelSearchArgsResponse" message="tns:IRentItService_GetDefaultChannelSearchArgs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTrackSearchArgs">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetDefaultTrackSearchArgs" message="tns:IRentItService_GetDefaultTrackSearchArgs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetDefaultTrackSearchArgsResponse" message="tns:IRentItService_GetDefaultTrackSearchArgs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreatedChannels">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetCreatedChannels" message="tns:IRentItService_GetCreatedChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetCreatedChannelsResponse" message="tns:IRentItService_GetCreatedChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscribedChannels">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetSubscribedChannels" message="tns:IRentItService_GetSubscribedChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetSubscribedChannelsResponse" message="tns:IRentItService_GetSubscribedChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackByChannelId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetTrackByChannelId" message="tns:IRentItService_GetTrackByChannelId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetTrackByChannelIdResponse" message="tns:IRentItService_GetTrackByChannelId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecentlyPlayedTracks">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetRecentlyPlayedTracks" message="tns:IRentItService_GetRecentlyPlayedTracks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetRecentlyPlayedTracksResponse" message="tns:IRentItService_GetRecentlyPlayedTracks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsChannelNameAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/IsChannelNameAvailable" message="tns:IRentItService_IsChannelNameAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/IsChannelNameAvailableResponse" message="tns:IRentItService_IsChannelNameAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetSubscriberCount" message="tns:IRentItService_GetSubscriberCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetSubscriberCountResponse" message="tns:IRentItService_GetSubscriberCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IncrementChannelPlays">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/IncrementChannelPlays" message="tns:IRentItService_IncrementChannelPlays_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/IncrementChannelPlaysResponse" message="tns:IRentItService_IncrementChannelPlays_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsChannelPlaying">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/IsChannelPlaying" message="tns:IRentItService_IsChannelPlaying_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/IsChannelPlayingResponse" message="tns:IRentItService_IsChannelPlaying_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopChannelStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/StopChannelStream" message="tns:IRentItService_StopChannelStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/StopChannelStreamResponse" message="tns:IRentItService_StopChannelStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetVote" message="tns:IRentItService_GetVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetVoteResponse" message="tns:IRentItService_GetVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/DeleteVote" message="tns:IRentItService_DeleteVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/DeleteVoteResponse" message="tns:IRentItService_DeleteVote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountAllChannelsWithFilter">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/CountAllChannelsWithFilter" message="tns:IRentItService_CountAllChannelsWithFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/CountAllChannelsWithFilterResponse" message="tns:IRentItService_CountAllChannelsWithFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountAllUpvotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/CountAllUpvotes" message="tns:IRentItService_CountAllUpvotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/CountAllUpvotesResponse" message="tns:IRentItService_CountAllUpvotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountAllDownvotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/CountAllDownvotes" message="tns:IRentItService_CountAllDownvotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/CountAllDownvotesResponse" message="tns:IRentItService_CountAllDownvotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetAllGenres" message="tns:IRentItService_GetAllGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetAllGenresResponse" message="tns:IRentItService_GetAllGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGenresForChannel">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetGenresForChannel" message="tns:IRentItService_GetGenresForChannel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetGenresForChannelResponse" message="tns:IRentItService_GetGenresForChannel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountChannelComments">
      <wsdl:input wsaw:Action="http://tempuri.org/IRentItService/GetCountChannelComments" message="tns:IRentItService_GetCountChannelComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRentItService/GetCountChannelCommentsResponse" message="tns:IRentItService_GetCountChannelComments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRentItService" type="tns:IRentItService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IRentItService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/IRentItService/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IRentItService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCorrectPassword">
      <soap:operation soapAction="http://tempuri.org/IRentItService/IsCorrectPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserIds">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetAllUserIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IRentItService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/CreateChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/DeleteChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/UpdateChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementHitsForChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/IncrementHitsForChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllChannelIds">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetAllChannelIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannels">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateVote">
      <soap:operation soapAction="http://tempuri.org/IRentItService/CreateVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTrack">
      <soap:operation soapAction="http://tempuri.org/IRentItService/AddTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackInfoByTrackname">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetTrackInfoByTrackname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTrack">
      <soap:operation soapAction="http://tempuri.org/IRentItService/RemoveTrack" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackIds">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetTrackIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTracks">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetTracks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateComment">
      <soap:operation soapAction="http://tempuri.org/IRentItService/CreateComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap:operation soapAction="http://tempuri.org/IRentItService/DeleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChannelComments">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetChannelComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserComments">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetUserComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsEmailAvailable">
      <soap:operation soapAction="http://tempuri.org/IRentItService/IsEmailAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUsernameAvailable">
      <soap:operation soapAction="http://tempuri.org/IRentItService/IsUsernameAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/IRentItService/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap:operation soapAction="http://tempuri.org/IRentItService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartChannelStream">
      <soap:operation soapAction="http://tempuri.org/IRentItService/StartChannelStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultChannelSearchArgs">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetDefaultChannelSearchArgs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultTrackSearchArgs">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetDefaultTrackSearchArgs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreatedChannels">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetCreatedChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscribedChannels">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetSubscribedChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackByChannelId">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetTrackByChannelId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecentlyPlayedTracks">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetRecentlyPlayedTracks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsChannelNameAvailable">
      <soap:operation soapAction="http://tempuri.org/IRentItService/IsChannelNameAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscriberCount">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetSubscriberCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncrementChannelPlays">
      <soap:operation soapAction="http://tempuri.org/IRentItService/IncrementChannelPlays" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsChannelPlaying">
      <soap:operation soapAction="http://tempuri.org/IRentItService/IsChannelPlaying" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopChannelStream">
      <soap:operation soapAction="http://tempuri.org/IRentItService/StopChannelStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVote">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteVote">
      <soap:operation soapAction="http://tempuri.org/IRentItService/DeleteVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountAllChannelsWithFilter">
      <soap:operation soapAction="http://tempuri.org/IRentItService/CountAllChannelsWithFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountAllUpvotes">
      <soap:operation soapAction="http://tempuri.org/IRentItService/CountAllUpvotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountAllDownvotes">
      <soap:operation soapAction="http://tempuri.org/IRentItService/CountAllDownvotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllGenres">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetAllGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenresForChannel">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetGenresForChannel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountChannelComments">
      <soap:operation soapAction="http://tempuri.org/IRentItService/GetCountChannelComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RentItService">
    <wsdl:port name="BasicHttpBinding_IRentItService" binding="tns:BasicHttpBinding_IRentItService">
      <soap:address location="http://rentit.itu.dk/RentIt21/RentItService.svc/RentItServer.RentItService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>