RentItClient/RentItClient/RentItClient/Service References/RentItService/RentItService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RentItServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RentItServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchArgs">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SearchArgs" nillable="true" type="tns:SearchArgs" />
  <xs:complexType name="Channel">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Channel" nillable="true" type="tns:Channel" />
  <xs:complexType name="Track">
    <xs:sequence>
      <xs:element minOccurs="0" name="Downvotes" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Upvotes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Track" nillable="true" type="tns:Track" />
  <xs:complexType name="TrackInfo">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TrackInfo" nillable="true" type="tns:TrackInfo" />
  <xs:complexType name="Comment">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
</xs:schema>